ul {
    position: relative;
    margin: 50px 0 0 50px;
}
ul li {
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: 20px;
}
ul li:last-child {
    margin: 0;
}
ul li img:first-child {
    float: left;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    /* filter: greyscale(1.0); */
}
ul li:hover img:first-child {
    margin: -32px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}