


.header-site{
  background-image: url(../views/img/fundo.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:rgb(236, 223, 231);
  padding-top: 200px;
  padding-bottom: 200px;
}
/*Cor fundo barra de Menu*/
.color{
background-color:rgb(53, 155, 33);
}
/* Espaço entre menu e os cards*/
.ajust{
    
    margin-top: 25px;
}
/*Cor de fundo Roda pé da pagina.*/
footer{
  background-color:rgb(39, 32, 7);
}
/*Margen entre Card e Roda pé*/
.margin-detalhes{
  height: px;
  background-color:rgb(39, 32, 7);
}
/* medida do roda pé */
.detalhes{
 height:  300px;
}
/*Efeito ao passar o mouse sobre os Card*/
.zoom{
  overflow: hidden;
}
.zoom img{
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}
.zoom:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
}

@keyframes neon{
  from{
    filter: drop-shadow(10px 10px 10px var(--cor-neon));
  }
  to{
    filter: drop-shadow(0 0 30px var (--cor-neon));
  }
}
 
  .alvo{
    color:rgb(54, 54, 54);
      animation: neon 3s alternate infinite ease-in-out;
      font-family: Arial, Helvetica, sans-serif;
  }
.titulo{
  --cor-neon: rgb(8, 70, 33);
  }
  .subtitulo{
    --cor-neon:   rgb(8, 70, 33);
  }

  /* Alinhamento componentes do roda pé*/
  .alin{
    display:inline-block;
    padding-bottom:5px;
  }

  .contato   {
    text-align:center;  
    margin-top: 60px;
    margin-bottom:15px;
  }.endereco{
    text-align:center;
    margin-top: 60px;
    
    margin-bottom:15px;
  }
  
  .social{
    text-align:center;
    margin-bottom:15px;
    margin-top: 60px;
  }
  
  ul.icones-redes-sociais  {
    position:center;
    padding-left:0px;	
    border-bottom-style:sol 4px;
    }
    .colorEmail{
      color:rgb(240, 240, 240);
    
    }
  .detail{
    text-align:center;
    color:orange;
    font-size:12px;
  }
  .redeSocial{
    text-align: right;
    margin-top: 150px;
  }
  /*Efeito Links redes Sociais*/
footer  ul {
    position: relative;
    margin: 0px 50px 50px 0px;
    display:inline-block;
}
footer ul li {
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right:10px;
    margin-left: 20px;
    
}
ul li:last-child {
    margin: 0;
 
    
}
ul li img:first-child {
    float: left;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    filter: greyscale(1.0); 
}
ul li:hover img:first-child {
    margin: -32px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.ajustPadding{
  padding-left: 0px;
  padding-right: 0px;
}



#img-site{
  background-image: url(img/footer.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 200px;
}
